* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: #ffffff;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

/* Header */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 24px 0px 24px 156px;
}

nav .logo {
  padding: 0;
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
nav .logo span {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

nav .nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

nav .nav-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

nav .nav-item a:active {
  color: #404bbf;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin: 24px 156px 24px 0;
}

.contacts-item a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item a:active {
  color: #404bbf;
}

/* Hero */
#hero {
  padding: 188px 0 188px 0;
  background: #2e2f42;
}

#hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 48px;
  margin: 0;
}

#hero button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 auto;
  border: 0;
}

#hero button:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* About us */

#about-us {
  margin: 90px 0 120px 0;
}

#about-us h2 {
  opacity: 0;
  margin: 0;
}

.about-us-container {
  display: flex;
  justify-content: center;
}

.about-us-item {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  width: 264px;
  margin-left: 24px;
  justify-content: center;
}

.about-us-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px 0;
  padding: 0;
}

.about-us-item p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  padding: 0;
}

/* We doing */
#we-doing img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 360px;
  margin-left: 24px;
  margin-bottom: 120px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.we-doing-container {
  display: flex;
  border: 0;
  justify-content: center;
}

/* Our Team */
#our-team {
  background: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-cards {
  display: flex;
  justify-content: center;
}
#our-team .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin: 0 24px 0 0;
}

.card img {
  margin-bottom: 32px;
  padding: 0;
}

.card h3 {
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card p {
  padding: 0;
  margin: 0 0 32px 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
footer {
  padding: 100px 0 100px 156px;
  background: #2e2f42;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
}

footer a {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

footer .logo-white span {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

/* Portfolio.html */
#filters {
  margin-top: 96px;
  margin-bottom: 72px;
}

.filters-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: center;
}
.filters-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  /* Button Text */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.filters-item button:hover {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

#portfolio {
  padding-right: 156px;
  padding-left: 156px;
  padding-bottom: 96px;
}

.portfolio-item {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  margin-bottom: 24px;
}

.portfolio-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-left: 16px;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: 16px;
}
